{% extends 'base.html' %} {% block title %}Liste des tâches{% endblock %}
{%block content %}
<h2>Liste der Tasks</h2>

<table>
  <thead>
    <tr>
      <th>Title der Tasks</th>
      <th>completed</th>
      <th>Ansicht</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>"{{ task.title }}"</td>
      <td><code>{{ task.completed }}</code></td>
      <td>
        {% if task.completed %}
        <span class="completed">{{ task.title }} (✔)</span>
        {% else %}
        <span class="pending">{{ task.title }} (⏳ im Gange)</span>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">Derzeit keine Task</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><a href="{% url 'task-create' %}">+ Add einer Task</a></p>

{% endblock %}
